.baklava-node-interface[data-interface-type="quantity"] .__port {
  background-color: green;
  border-radius: 0%;
  border: 2px white dashed;
}
.baklava-node-interface[data-interface-type="quantitySingle"] .__port {
  background-color: green;
  border-radius: 0%;
}
.baklava-node-interface[data-interface-type="quantityArray"] .__port {
  background-color: green;
  border-radius: 50%;
  border: 2px white solid;
}
.baklava-node-interface[data-interface-type="measurer"] .__port {
  background-color: yellow;
  border-radius: 0%;
}